body
{
    margin: 0px;
    padding: 0px;
    background-image: url(neighborhood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
.background
{
    text-align: center;
    padding-top: 5vh; 
}
h1 
{
    margin: 0;
    padding: 20px;
    color: white;
    border: 2px solid white;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
}
.graph-container {
    background: url(newbackground.jpg) no-repeat center center;
    background-size: cover;  
    width: 725px; 
    height: 370px; 
    margin: 20px auto; 
    padding: 10px;  
}
